# Plugin Test Files
# (this is just annoying when reviewing commits)

test/www/javascript/store.js
test/www/javascript/example.js
test/www/ext/store.jar

# Text Editors

._*

# BlackBerry WebWorks

plugin/build/
test/build/
